@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Rowdies', cursive;
}

a {
    text-decoration: none;
}

.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    transition: all 0.3s ease;
}

.navbar.sticky{
    background: #1b1b1b2a;
}

.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

.navbar .logo a{
    color: rgb(238, 238, 238);
    font-size: 35px;
    text-decoration: none;
}

.navbar .menu-list{
    display: inline-flex;
}

.menu-list li{
    list-style: none;
}

.menu-list li a{
    color: rgb(238, 238, 238);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list .login:hover{
    /* color: rgb(191, 192, 192); */
    background-color: rgba(219, 219, 219, 0.205);
    /* border-color: rgb(96, 96, 236); */
}

.menu-list .login{
    border: 1px solid rgb(238, 238, 238);
    padding: 5px 15px;
    border-radius: 8px;
}
