*{
    padding: 0;
    margin: 0;
}

.parent{
    min-height: 100vh;
    width: 100%;
}

.title{
    text-align: center;
    padding-top: 100px;
}

.wrapperr{
    width: 700px;
    height: 350px;
    margin: auto;
    display: flex;
    background-color: rgb(53, 115, 169);
}

.leftwrap{
    width: 50%;
}

.leftwrap img{
    height: 350px;
    width: auto;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

.rightwrap{
    padding: 30px;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
}


.bottomwrap{
    position: absolute;
    bottom: 88px;
    display: flex;
    margin-left: 300px;
    cursor: pointer;
}

.bottomwrap p{
    background-color: rgb(69, 97, 121);
    color: white;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.parent2{
    min-height: 100vh;
    width: 100%;
    background-color: #7B8FA1;
}

.title2{
    text-align: center;
    padding-top: 50px;
}

.title2 h4{
    font-weight: 700;
}

.booklist{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
}

.bookcard{
    width: 250px;
    height: auto;
    margin: 50px 13px 0px 13px;
    background-color: white;
    box-shadow: 0px 2px 4px 1px rgba(34, 34, 34, 0.338);
    overflow: hidden;
}

.imgbookcard img{
    height: 360px;
    width: 100%;
}

.descbookcard{
    padding: 10px 20px 0px  20px;
}

.buttonread{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.buttonread a{
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
}

.footer{
    width: 100%;
    height: auto;
}

.footer h3{
    font-family: 'Rowdies', cursive;
}

.footer .footercontent{
    display: flex;
    padding: 30px 50px;
}

.footercontent .footerleft{
    width: 270px;
}

.footercontent .footermiddle{
    width: 260px;
    margin-left: 50px;
}

.listsocial{
    display: flex;
    list-style: none;
    padding: 0;
}


.listsocial a{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(149, 205, 220);
    transition: all 0.3s ease;
}

.listsocial a:hover{
    background-color: rgb(165, 218, 233);
    color: black;
}

.footercopyright{
    bottom: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(58, 65, 74);
    color: white;
    height: 70px;
}

.footercopyright p{
    margin-bottom: 0;
}

/* Pagination */

.hidden {
  display: none;
}

.pagination-container {
  width: calc(100% - 2rem);
  display: flex;
  align-items: center;
  bottom: 0;
  padding: 1rem 0;
  justify-content: center;
}

.pagination-button{
    font-size: 1.1rem;
    border: none;
    margin: 0.25rem 0.25rem;
    line-height: 1.5rem;
    cursor: pointer;
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 50%;
}

.pagination-number{
  font-size: 1.1rem;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: #fff;
}

.pagination-number.active {
  color: #fff;
  background: #0085b6;
}