@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navbarr{
    position: fixed;
    z-index: 5;
    width: 100%;
    transition: all 0.3s ease;
    background-color: rgb(230, 230, 230);
}

.navbarr .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}


.navbarr .logo a{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-decoration: none;
    font-family: 'Rowdies', cursive;
}

.rightnav{
    display: flex;
    font-size: 16px;
    align-items: center;
}


.rightnav .login:hover{    
    background-color: rgba(219, 219, 219, 0.205);

}

.rightnav p{
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
    margin-bottom: 0;
}

.rightnav .login{
    padding: 5px 15px;
}

.scrollup{

    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 5;
    opacity: 0;
}

.btn.show{
    border-color: transparent;
}

.btn{
    border-width: 0px;
}

.scrollup.visible{
    opacity: 1;
}

.scrollup a{
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(146, 188, 236);
    transition: all 0.3s ease;   
}

.scrollup a:hover{
    background-color: rgb(173, 202, 235) ;
}


